#root {
	margin: 0 auto;
	text-align: center;
	color: #c9c9c9;
	background-color: rgb(31, 26, 26);
	height: 100vh;
	overflow: hidden;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	gap: 3px;
	height: 100%;
}
.spaced {
	justify-content: space-between;
	margin: 0 3px;
}
.padded-x {
	padding: 0 4px;
}
.layout-wrapper {
	/* width: 100vw;
	height: 100vh; */
	width: 100vw;
	/* overflow: hidden; */
}
.top-half {
	/* background-color: yellow; */
	height: calc(60vh - 5px);
	overflow: auto;
	margin: 0 4px;
}
.top-half:focus,
.top-half:hover {
	/* background-color: blue; */
	height: calc(80vh - 5px);
}
.bottom-half {
	display: flex;
	/* background-color: blue; */
	/* height: 100%; */
}

.output-image {
	position: relative;
	object-fit: contain;
	min-width: 100px;
	max-width: 100vw;
}
.output-image > img {
	border-radius: 4px;
}
.image-button:not(.activated) {
	opacity: 0;
}
.image-button {
	/* filter: invert(1) grayscale(1) contrast(9); */
	cursor: pointer;
	position: absolute;
	font-size: 3rem;
	text-shadow: 1px 1px 2px black;
}
.output-image:hover > .image-button:not(.activated) {
	opacity: 0.5;
}
.output-image:hover > .image-button:hover {
	opacity: 1;
}
.clip-image {
	color: rgb(0, 89, 255);
	top: 3px;
	right: 3px;
}
.bin-image {
	color: red;
	bottom: 3px;
	right: 3px;
}
.fav-image {
	cursor: pointer;
	color: yellow;
	bottom: 3px;
	left: 3px;
}
.inactive {
	opacity: 0.5;
}
.prompt-field {
	display: flex;
	flex: 1;
	overflow: auto;
	max-height: 25vh;
	width: calc(100vw - 3px);
	max-width: 90vw;
	/* min-height: 30vh; breaks scroll */
}
.prompt-field-text {
	flex: 1;
	height: 25vh;
}
.prompt-field > div:first-child {
	flex: 1;
}
.prompt-field > div:nth-child(2) {
	max-width: 200px;
}
.prompt-editor {
	position: relative;
}
.bookmakrs-selector {
	position: absolute;
	right: -26px;
	top: 0;
}

.tab-panel {
	/* display: flex;
	flex: 1; */
}
.tabs {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.render-button {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}
.render-button:hover {
	opacity: 1;
}
.result-image {
	object-fit: contain;
	max-width: 100vw;
	height: fit-content;
}
.selected-option {
	background-color: aqua;
}

.workflow-selector {
	max-width: 510px;
	flex: 1;
}

.header-controls {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	justify-content: space-between;
	position: sticky;
	top: 1px;
	right: 3px;
	margin: auto;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 9999999999;
}
.header-controls:hover {
	top: 1px;
}

@media (width <= 500px) {
	.header-controls {
		font-size: small;
	}
	.render-button {
		opacity: 1;
	}
}
.react-dropdown-select-item-selected {
	background: #0074d9;
	color: #fff;
}

.no-user-select {
	user-select: none;
}
.sortable-area {
	gap: 3px;
}
.selectable-tag {
	display: flex;
	gap: 2px;
	border: 1px transparent solid;
	padding: 0 3px;
	background: black;
	opacity: 0.7;
}
.selectable-tag:hover {
	opacity: 1;
	border: 1px rgba(128, 128, 128, 0.452) solid;
}
.remove-tag {
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: small;
	align-self: center;
}
.remove-tag:hover {
	background-color: rgba(255, 228, 196, 0.103);
}
.tag-search-field {
	width: 60px;
}
.tag-search-field:focus {
	width: 130px;
}

.tag-menu-item {
	user-select: none;
	color: rgb(160, 160, 160);
	background-color: rgb(22, 22, 22);
}
.react-dropdown-select-item:hover,
.tag-menu-item:hover {
	color: black !important;
	background-color: aqua !important;
}
.react-dropdown-select-item,
.react-dropdown-select-dropdown {
	color: rgb(160, 160, 160) !important;
	background-color: rgb(22, 22, 22) !important;
	border: none !important;
	padding: 0 2px !important;
}
